body{
	background-color: lightgray/*#6081A2*/;
}

.menu{
	display: block;
	position: absolute;
	width: 100%;
	background-color: white;
	text-align: center;
	padding-left: 20px;

}
.fondo{
	display: block;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45%;
	margin-top: 190px;


}

.fondo div {
	position: relative;
	background-color: blue;
	text-align: left;
	border-radius: 20px;
	padding-bottom: 1px;
	margin-top: 20px;
	margin-bottom: 10px;
}

img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 	100%;
}
#titulo{
	margin: 0;

}

#titulo h2{
	margin-left: 10px;
	float: left;
}
#titulo p{
	float: right;
	margin-right: 10px;
	font-size: 20px;
}

#comentario{
	padding-left: 10px;
	padding-right: 10px;
}